<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Word</key>
		<string>car</string>
		<key>Hints</key>
		<array>
			<string>wheel</string>
			<string>engine</string>
			<string>trunk</string>
			<string>seats</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>cat</string>
		<key>Hints</key>
		<array>
			<string>fur</string>
			<string>tail</string>
			<string>mouse</string>
			<string>feline</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>house</string>
		<key>Hints</key>
		<array>
			<string>garage</string>
			<string>roof</string>
			<string>rooms</string>
			<string>floor</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>nose</string>
		<key>Hints</key>
		<array>
			<string>smell</string>
			<string>face</string>
			<string>breathe</string>
			<string>nostril</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>fish</string>
		<key>Hints</key>
		<array>
			<string>water</string>
			<string>gills</string>
			<string>swim</string>
			<string>pet</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>tree</string>
		<key>Hints</key>
		<array>
			<string>branches</string>
			<string>roots</string>
			<string>tall</string>
			<string>green</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>light</string>
		<key>Hints</key>
		<array>
			<string>bright</string>
			<string>switch</string>
			<string>sun</string>
			<string>spectrum</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>fire</string>
		<key>Hints</key>
		<array>
			<string>camping</string>
			<string>wood</string>
			<string>hot</string>
			<string>orange</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>lid</string>
		<key>Hints</key>
		<array>
			<string>top</string>
			<string>container</string>
			<string>seal</string>
			<string>plastic</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>gravity</string>
		<key>Hints</key>
		<array>
			<string>newton</string>
			<string>apple</string>
			<string>fall</string>
			<string>weight</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>death</string>
		<key>Hints</key>
		<array>
			<string>coffin</string>
			<string>end</string>
			<string>hostpital</string>
			<string>funeral</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>meat</string>
		<key>Hints</key>
		<array>
			<string>steak</string>
			<string>food</string>
			<string>flesh</string>
			<string>bbq</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>window</string>
		<key>Hints</key>
		<array>
			<string>clear</string>
			<string>wall</string>
			<string>glass</string>
			<string>light</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>math</string>
		<key>Hints</key>
		<array>
			<string>addition</string>
			<string>geometry</string>
			<string>teacher</string>
			<string>class</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>state</string>
		<key>Hints</key>
		<array>
			<string>Washington</string>
			<string>fifty</string>
			<string>Texas</string>
			<string>borders</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>play</string>
		<key>Hints</key>
		<array>
			<string>fun</string>
			<string>games</string>
			<string>children</string>
			<string>recess</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>stripe</string>
		<key>Hints</key>
		<array>
			<string>long</string>
			<string>pattern</string>
			<string>band</string>
			<string>color</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>wizard</string>
		<key>Hints</key>
		<array>
			<string>magic</string>
			<string>wand</string>
			<string>powerful</string>
			<string>fantasy</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>frown</string>
		<key>Hints</key>
		<array>
			<string>sad</string>
			<string>face</string>
			<string>expression</string>
			<string>disapproval</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>catch</string>
		<key>Hints</key>
		<array>
			<string>throw</string>
			<string>baseball</string>
			<string>mitt</string>
			<string>hold</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>Brazil</string>
		<key>Hints</key>
		<array>
			<string>South America</string>
			<string>biggest</string>
			<string>country</string>
			<string>Portuguese</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>friend</string>
		<key>Hints</key>
		<array>
			<string>pal</string>
			<string>buddy</string>
			<string>amigo</string>
			<string>chum</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>school</string>
		<key>Hints</key>
		<array>
			<string>college</string>
			<string>institution</string>
			<string>academy</string>
			<string>learning</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>word</string>
		<key>Hints</key>
		<array>
			<string>letters</string>
			<string>paragraph</string>
			<string>unit</string>
			<string>label</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>brush</string>
		<key>Hints</key>
		<array>
			<string>clean</string>
			<string>tool</string>
			<string>hair</string>
			<string>teeth</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>argument</string>
		<key>Hints</key>
		<array>
			<string>fight</string>
			<string>words</string>
			<string>disagree</string>
			<string>debate</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mother</string>
		<key>Hints</key>
		<array>
			<string>love</string>
			<string>family</string>
			<string>woman</string>
			<string>protector</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>green</string>
		<key>Hints</key>
		<array>
			<string>grass</string>
			<string>jade</string>
			<string>emeralds</string>
			<string>cash</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>camel</string>
		<key>Hints</key>
		<array>
			<string>mammal</string>
			<string>desert</string>
			<string>hump</string>
			<string>spit</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>chef</string>
		<key>Hints</key>
		<array>
			<string>food</string>
			<string>cooking</string>
			<string>white hat</string>
			<string>French</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>evolve</string>
		<key>Hints</key>
		<array>
			<string>progress</string>
			<string>selection</string>
			<string>genes</string>
			<string>gradual</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>turtle</string>
		<key>Hints</key>
		<array>
			<string>slow</string>
			<string>shell</string>
			<string>aquatic</string>
			<string>reptile</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>race</string>
		<key>Hints</key>
		<array>
			<string>speed</string>
			<string>competition</string>
			<string>run</string>
			<string>cars</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>green</string>
		<key>Hints</key>
		<array>
			<string>grass</string>
			<string>jade</string>
			<string>emeralds</string>
			<string>money</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>maximum</string>
		<key>Hints</key>
		<array>
			<string>utmost</string>
			<string>peak</string>
			<string>greatest</string>
			<string>top</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>jealous</string>
		<key>Hints</key>
		<array>
			<string>covet</string>
			<string>envy</string>
			<string>wanting</string>
			<string>rivalry</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>bored</string>
		<key>Hints</key>
		<array>
			<string>disinterest</string>
			<string>tedium</string>
			<string>dull</string>
			<string>yawn</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>faint</string>
		<key>Hints</key>
		<array>
			<string>blackout</string>
			<string>collapse</string>
			<string>dizzy</string>
			<string>unconscious</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>distinct</string>
		<key>Hints</key>
		<array>
			<string>clear</string>
			<string>sharp</string>
			<string>specific</string>
			<string>unambiguous</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>positive</string>
		<key>Hints</key>
		<array>
			<string>affirmative</string>
			<string>assured</string>
			<string>good</string>
			<string>optimistic</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>idol</string>
		<key>Hints</key>
		<array>
			<string>deity</string>
			<string>icon</string>
			<string>hero</string>
			<string>admired</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>baby</string>
		<key>Hints</key>
		<array>
			<string>womb</string>
			<string>young</string>
			<string>infant</string>
			<string>newborn</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>night</string>
		<key>Hints</key>
		<array>
			<string>dark</string>
			<string>sundown</string>
			<string>dusk</string>
			<string>stars</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>obscure</string>
		<key>Hints</key>
		<array>
			<string>vague</string>
			<string>ambiguous</string>
			<string>uncertain</string>
			<string>indistinct</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>coat</string>
		<key>Hints</key>
		<array>
			<string>zipper</string>
			<string>hood</string>
			<string>warmth</string>
			<string>jacket</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>tan</string>
		<key>Hints</key>
		<array>
			<string>sun</string>
			<string>skin</string>
			<string>dark</string>
			<string>beach</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>market</string>
		<key>Hints</key>
		<array>
			<string>bazaar</string>
			<string>farmers</string>
			<string>barter</string>
			<string>goods</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>archaic</string>
		<key>Hints</key>
		<array>
			<string>ancient</string>
			<string>old</string>
			<string>primitive</string>
			<string>obsolete</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>store</string>
		<key>Hints</key>
		<array>
			<string>shop</string>
			<string>outlet</string>
			<string>department</string>
			<string>convenience</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>create</string>
		<key>Hints</key>
		<array>
			<string>make</string>
			<string>design</string>
			<string>build</string>
			<string>formulate</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>exercise</string>
		<key>Hints</key>
		<array>
			<string>work</string>
			<string>effort</string>
			<string>training</string>
			<string>workout</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>abnormal</string>
		<key>Hints</key>
		<array>
			<string>atypical</string>
			<string>different</string>
			<string>unusual</string>
			<string>odd</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>custom</string>
		<key>Hints</key>
		<array>
			<string>tradition</string>
			<string>observance</string>
			<string>functoin</string>
			<string>ceremonial</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>shape</string>
		<key>Hints</key>
		<array>
			<string>square</string>
			<string>circle</string>
			<string>rectangle</string>
			<string>triangle</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>familiar</string>
		<key>Hints</key>
		<array>
			<string>common</string>
			<string>known</string>
			<string>acquainted</string>
			<string>versed</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>odor</string>
		<key>Hints</key>
		<array>
			<string>aroma</string>
			<string>fragrance</string>
			<string>smell</string>
			<string>stench</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>speech</string>
		<key>Hints</key>
		<array>
			<string>talk</string>
			<string>dictation</string>
			<string>oral</string>
			<string>spoken</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>hint</string>
		<key>Hints</key>
		<array>
			<string>clue</string>
			<string>help</string>
			<string>insinuation</string>
			<string>sign</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>confuse</string>
		<key>Hints</key>
		<array>
			<string>baffle</string>
			<string>obscure</string>
			<string>complicate</string>
			<string>puzzled</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>fly</string>
		<key>Hints</key>
		<array>
			<string>bird</string>
			<string>jet</string>
			<string>bat</string>
			<string>helicopter</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>rock</string>
		<key>Hints</key>
		<array>
			<string>pebble</string>
			<string>mineral</string>
			<string>stone</string>
			<string>rubble</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>shake</string>
		<key>Hints</key>
		<array>
			<string>quiver</string>
			<string>tremble</string>
			<string>rattle</string>
			<string>roll</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>moon</string>
		<key>Hints</key>
		<array>
			<string>earth</string>
			<string>sun</string>
			<string>cresent</string>
			<string>waxing</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>shun</string>
		<key>Hints</key>
		<array>
			<string>avoid</string>
			<string>ignore</string>
			<string>dodge</string>
			<string>reject</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>life</string>
		<key>Hints</key>
		<array>
			<string>existence</string>
			<string>vitality</string>
			<string>soul</string>
			<string>spirit</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>language</string>
		<key>Hints</key>
		<array>
			<string>communication</string>
			<string>dialect</string>
			<string>written</string>
			<string>verbal</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mouse</string>
		<key>Hints</key>
		<array>
			<string>rodent</string>
			<string>vermin</string>
			<string>cheese</string>
			<string>trap</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>firework</string>
		<key>Hints</key>
		<array>
			<string>sparkler</string>
			<string>rocket</string>
			<string>fountain</string>
			<string>bursts</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>piano</string>
		<key>Hints</key>
		<array>
			<string>keys</string>
			<string>music</string>
			<string>player</string>
			<string>upright</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>heat</string>
		<key>Hints</key>
		<array>
			<string>hot</string>
			<string>warmth</string>
			<string>temperature</string>
			<string>torrid</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
	<dict>
		<key>Word</key>
		<string>mosque</string>
		<key>Hints</key>
		<array>
			<string>temple</string>
			<string>muslim</string>
			<string>worship</string>
			<string>church</string>
		</array>
	</dict>
</array>
</plist>
